## OLDA data exploration using DBeaver

#### 1. Open DBeaver
<br>
<img src="images/DBeaver_open_1.png" />
<br><br>

#### 2. Expand the navigation window to explore the **``appliedda``** database and double click on schemas
<br>
<img src="images/Dbeaver_schemas_2.png" />
<br><br>

#### 3. Scroll down within the ``Database Navigator`` and double click on the schema **``data_ohio_olda_2018``** to open the ER Diagram
<br>
<img src="images/Dbeaver_OLDA_3.png" />
<br><br>

#### 4. Click on `properties` to get useful information such as the list of tables names that are included in ``data_ohio_olda_2018`` as well as the number of rows by each table
<br>
<img src="images/Dbeaver_OLDA_properties_4.png" />
<br><br>

#### 5. Double click in one of the tables (e.g., **``oh_otc``**) to access its data and the ER Diagram
<br>
<img src="images/Dbeaver_table_ otc_data_5.png" />
<br><br>

#### 6. Open another table by clicking on the ``tables`` down arrow 
<br>
<img src="images/Dbeaver_tables_6.png" />
<br><br>

#### 7. Create a script. Click in ``New SQL Editor`` in the toolbar:
<img src="images/Dbeaver_newSQLeditor_7.png" />
<br><br>

#### 8. SQL select statement to display the list of tables included in the ``data_ohio_olda_2018`` scheme
<br>
<img src="images/Dbeaver_ListTables_OLDA_8.png" />
<br>
Press <strong><kbd>Ctrl+Enter</kbd></strong> to run the query. 
<br><br>

#### 9. Save and rename the script. Select the script in the `project-General` window ...
 <br>
<img src="images/Dbeaver_ListScripts_9.png" />
<br>

<p>    ... and press <strong><kbd>F2</kbd></strong> and change the script default name</p>
<br>
<img src="images/Dbeaver_listtables_10.png" />
<br><br>

#### 10. SQL select statement to display the list of variables on the ``oh_otc`` table
<br>
<img src="images/Dbeaver_oh_otc_columns_11.png" />
<br><br>

#### 11. SQL select statement to display ``oh_otc`` data
<br>
<img src="images/select_oh_otc.png" />
<br><br>

#### Other SQL select statements to subset the ``oh_otc`` data

-- *Select columns key_id, year_of_birth, race, and gender and rows with year_of_birth*

    SELECT key_id, 
           year_of_birth, 
           race, 
           gender
    FROM data_ohio_olda_2018.oh_otc
    WHERE year_of_birth is not null;

-- *Count key_id by gender from rows with year_of_birth no null*
    
    SELECT gender, 
           count(key_id)
    FROM data_ohio_olda_2018.oh_otc
    WHERE year_of_birth is not null
    group by gender;
    
-- *Count key_id by race and gender from rows with no null year_of_birth*

    SELECT race, 
           gender, 
           count(key_id) as num_stud
    FROM data_ohio_olda_2018.oh_otc
    WHERE year_of_birth is not null
    GROUP BY race, gender
    ORDER BY gender, num_stud desc;

#### Query examples joining different databases

-- *Earnings and employment outcomes of vocational rehabilitation closed cases in 2015*

    SELECT *
    FROM (
          SELECT key_id, 
                 quarter, 
                 naics_3_digit, 
                 wages, 
                 year as yr_emp
          FROM data_ohio_olda_2018.oh_ui_wage_by_employer
          WHERE year in (2015, 2016, 2017) and employer_num=1) as emp
    JOIN (
          SELECT key_id, 
                 date_closure_m_1, 
                 date_closure_m_2, 
                 date_closure_m_3, 
                 date_closure_m_4, 
                 date_closure_y_1, 
                 date_closure_y_2, 
                 date_closure_y_3, 
                 date_closure_y_4 
          FROM data_ohio_olda_2018.oh_vr) as vr
    ON emp.key_id = vr.key_id
    WHERE date_closure_y_1=2015 OR 
          date_closure_y_2=2015 OR 
          date_closure_y_3=2015 OR 
          date_closure_y_4=2015
    LIMIT 10;

-- *2016 employment outcomes of cohort 2015*

    SELECT key_id, quarter as qtr_emp, wages, weeks, cast(naics_3_digit as char(2)) as naics_2_digit, naics_3_digit, au_2015, sm_2015, sp_2015, wi_2015
    FROM (
         SELECT key_id as key, 
                degcert_au_inst1_yr_earned_1, 
                degcert_sp_inst1_yr_earned_1, 
                degcert_sm_inst1_yr_earned_1, 
                degcert_wi_inst1_yr_earned_1, 
                degcert_au_inst1_term_earned_1 as au_2015, 
                degcert_sp_inst1_term_earned_1 as sp_2015, 
                degcert_sm_inst1_term_earned_1 as sm_2015,
                degcert_wi_inst1_term_earned_1 as wi_2015
         FROM data_ohio_olda_2018.oh_hei) as hei
    JOIN data_ohio_olda_2018.oh_ui_wage_by_employer as emp
    ON hei.key=emp.key_id
    WHERE emp.year=2016 and 
          hei.degcert_au_inst1_yr_earned_1=2015 or 
          hei.degcert_sp_inst1_yr_earned_1=2015 or 
          hei.degcert_sm_inst1_yr_earned_1=2015 or
          hei.degcert_wi_inst1_yr_earned_1=2015
    limit 10;

NOTE: DBeaver [tutorial](https://github.com/dbeaver/dbeaver/wiki/Application-Window-Overview) online